  <div class="blog-post">
    
    <h3 class="blog-post-title"><%= link_to blog.title, blog %></h3>
    <p class="blog-post-meta"><%= blog.created_at.strftime("%m.%d.%Y") %> </p>

    <%= render partial: 'blogs/admin_actions', locals: { blog: blog} %>


    <p>
       <%= truncate(blog.body, :length => 250) %>
    </p>

    <p class="blog-post-meta">
        
        <%= link_to 'View Post', blog, class: 'btn btn-primary btn-block' %>
              
    </p>


    

  </div><!-- /.blog-post -->

<hr>