      <!-- start sidebar -->
        <div class="col-sm-4 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Welcome to My Blog! This is were I write about what I'm working on. Sometimes it's graphic design, sometimes it's coding and sometimes it's business dev.</p>
          </div>
          <div class="sidebar-module" id="sidebar-topics">
            <h4>Topics</h4>  
            <% @side_bar_topics.each do |topic| %>
              <p><%= link_to topic.title, topic_path(topic) %> </p>
            <% end %>
          </div>  
          <div class="sidebar-module">
            <h4>Follow Me:</h4>

            <div class="social-links">

              <a href="https://github.com/chubbymaus"><%= fa_icon 'github' %></a>
              <a href="https://www.instagram.com/court_garr/"><%= fa_icon 'instagram' %></a>
              <a href="https://www.behance.net/chubbymaus"><%= fa_icon 'behance' %></a>
              <a href="https://www.twitter.com/cgarr73"><%= fa_icon 'twitter' %></a>

            </div>
            <h3>Tech News</h3>
            <hr>

            <% @tweets.each do |tweet| %>
              <div class="tech-news">
                <div class="card">
                <%= twitter_parser tweet %>
                </div>  
              </div>  
             <% end %> 
          </div>
        </div><!-- /.blog-sidebar -->
      <!-- end sidebar --> 