<div id='background'>
  <div class="container">  
    <div class="row align-middle">
      <div class="col-md-12 text-center">
        <div id="header-content">
         <h1>Hi I'm Court</h1>
          <h3 class="">
            <span class='element'></span>
          </h3>
          <p class="home-buttons">
            <a href="#about-me" class= "btn btn-lg btn-primary">Learn More</a>
            <%= link_to "View My Blog", blogs_path, class: 'btn btn-lg btn-secondary' %>
            
          </p>
         </div> 
      </div>
    </div>
  </div>
</div>
<section id="about-me" class='bg-light'>
  <div class='container'>
    <div class="col-lg-6">
      <h2>About Me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>  
  </div>
</section>
<!--info begin -->
<section id='skills' class='bg-dark'>
<div class="container-fluid">
    
      <!--   Icon Section   -->
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class='text-light'>Skills</h2>
          
        </br>
        </div>  

        <div class="col-md-4">
          <div class="icon-block">
            <h2 class="">
              <i class="fa fa-code fa-2x text-light" ></i>
            </h2>
            <h5 class="text-light">Design</h5>
            <p class="text-light">Graphic design experience with Adobe Photoshop and Illustrator. Comfortable doing web design with HTML, CSS, and Javascript.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="icon-block">
            <h2 class="">
              <i class="fa fa-wordpress fa-2x text-light"></i>
            </h2>
            <h5 class="text-light">Content Management</h5>
            <p class="text-light">Content Management System experience. Ability to build and customize websites built with Wordpress and other CMSs.</p>
          </div>
        </div>
         <div class="col-md-4">
          <div class="icon-block">
            <h2 class="">
              <i class="fa fa-briefcase fa-2x text-light"></i>
            </h2>
            <h5 class="text-light">Marketing &amp; Business Strategy</h5>
            <p class="text-light">Experience doing market research, customer validation, and building marketing/business strategies.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<section id="language">
  <div class="row no-gutters">
  <div class="col-sm-6 text-center" id="seoul">
    <h2>한국말 &amp; 中文<br>Korean and Chinese</h2>
    
    <h5 class="">I can comfortably read, write, and speak Korean. <br> I am learning Mandarin Chinese as well!</h5>
  </div>
  <div class="col-sm-6 text-center" id='education'>

      <h2>BS in Marketing | <i class="fa fa-graduation-cap fa-1x text-primary"></i></h2>
        
        <p class="">SUU Class of 2015</p>
              
    
  </div>    
</section>
<section id="experience">
  <div class="row no-gutters">
      <div class="col-sm-6" id='work-experience'>
        <div class="text-center">   
        <h2> <i class="fa fa-cogs fa-1x text-primary"></i> | Work Experience</h2>
        <p class="">Some of the Highlights</p>
        </div>  
        <div class='container'>
        <ul>
          <li>Web Designer</li>
          <li>Graphic Design including: clothing, print, and digital</li>
          <li>Business Planning and development</li>
          <li>Experience sourcing and importing products to be sold online</li>
          <li>5+ years sales experience: in person, online, and over the phone</li>
          <li>Licensed Stock Broker</li>
        </ul>   
        <p>*Email me for a copy of my resume</p>
        </div>
      </div>   
      <div class="col-sm-6" id="codepic">
          <div class='skills-progess'>
            <h3 class="text-light text-center">Technologies I Frequently Use</h3>
            <% @skills.each do |skill| %>
              <h5 class="text-light" id="skill-title"><%= skill.title %></h5>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-primary"
                  role='progressbar'
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style='width: <%= skill.percent_utilized %>%;'
                  >
                </div>
              </div>  
            <% end %>
          </div>  
      </div>
 </div>
</section>
<section id='portfolio-promo' class="bg-dark">

  <div class="row text-center text-light">
    <div class="col-md-12">
      <h3 class='text-light'>Make sure you checkout my portfolio and my blog.</h3>
      <div id='portfolio-btn'>    
      <%= link_to "View Portfolio", myworks_path, class: 'btn btn-lg btn-danger' %>
      <%= link_to "View My Blog", blogs_path, class: 'btn btn-lg btn-secondary' %>
       </div>     
            
         
    </div>
  </div>    
</section>  
<section id='contact'>
<div class="container">
    
      <!--   Icon Section   -->
      <div class="row text-center text-light">
        <div class="col-md-12">
          <h2 class="text-light">Ready to start working together?</h2>
          <h4 class='text-light'>Call me or shoot me an email anytime.</h4>
        

       <h3> <%= link_to 'Contact Page <i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, new_contact_path, class: 'text-light' %></h3>
    </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>